body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}
.champion {
  cursor: pointer;
}
#buttonList h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
#buttonList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#buttonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  align-items: center;
  background-color: #2D385B;
}
#resultList {
  width: 100vw;
  height: 80vh;
  /* Change the color */
  background-color: rgba(61,75,140,0.1);
  overflow: scroll;
}
